.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
}

.linear-gradient-background {
        background-image: linear-gradient(
            rgba(232, 102, 236, 0.3) 0%
            rgba(232, 102, 236, 0.6) 100%
        );
}

.code-card .card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.code-card:hover,
.code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px
rgba(232, 102, 236, 1), 0 0 15px
rgba(232, 102, 236, 1);
}

.card-header {
    position: relative;
    margin-top: -20px;
}