.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
}

.linear-gradient-background {
        background-image: linear-gradient(
            rgba(232, 102, 236, 0.3) 0%
            rgba(232, 102, 236, 0.6) 100%
        );
}

.code-card .card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.code-card:hover,
.code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px
rgba(232, 102, 236, 1), 0 0 15px
rgba(232, 102, 236, 1);
}

.card-header {
    position: relative;
    margin-top: -20px;
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  }

  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #BB8588;
    }
  }

  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8AC4FF;
    }
  }